<% if !@errors.nil? %>

<div class="row">
  <div class="span12 well"><%= @errors %></div>
</div>

<% else %>

<h2>Views of Securities in the <%= @sector.name %> sector</h2>

<div class="row">
  <div class="span6">

<%= render :partial => 'shared/popular_views' %>

  </div>
  <div class="span6">
    Right Column
  </div>

</div>

<% end %>