<h2>Most Popular Fund Categories</h2>

<h3>All time views</h3>

<table class="table table-striped">
  <% if !@allViews.nil? %>
	<% @allViews.each do |view| %>
    <tr><td><%= link_to view.name, fund_category_path(view.id) %></td><td><%= @allViews.count[view.id] %> total views</td></tr>
  	<% end %>
  <% end %>
 </table>
