@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

.show-grid [class*="span"] {
  background-color: #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
}

.show-grid [class*="span"]:hover {
  background-color: #ddd;
}

.itemDate{font-size:11px;color:#AAAAAA;display:inline}

