/* ***********************************************************************
 * Resets
 * *********************************************************************** */

* {
	margin: 0;
	padding: 0;
}

DIV.reset {
	clear: both;
	font-size: 0;
}


/* ***********************************************************************
 * Formatting and appearance
 * *********************************************************************** */

BODY {
	background-image:url(/images/background.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	font-size: 12px;
	color: black;
}


DIV#header #links A:hover {
	text-decoration:underline;
}

DIV#bodyWrapper {
	background-color: white;
	width: 930px;
	margin:0 auto 10px;
	border:1px solid #666666;
	border-top:0;
	padding:15px;
	-moz-border-radius:0 0 15px 15px;
	-webkit-border-radius:0 0 15px 15px;
}

DIV#tickerDataWrapper {
	width:700px;
	float:left;
}

DIV#accordion {
	width:700px;
	margin-top:15px;
}

DIV#accordion > H3, H3.heading {
	height:25px;
	background-image:url(/images/headerbackground.jpg);
	color:#ffffff;
	font-weight:normal;
	font-size:15px;
	margin:3px 0 0 0;
	padding:5px 0 0 14px;
	font-family:trebuchet ms, verdana, arial;
	border:1px solid #dddddd;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

DIV#accordion H3 A {
	color:#ffffff;
	text-decoration:underline;
}

DIV#accordion H3 A:hover {
	text-decoration:none;
}

DIV#accordion DIV.acc {
	background-color:#eeeeee;
	border:1px solid #aaaaaa;
	padding:10px 15px;
	width:666px;
	margin:5px 1px;
	overflow:auto;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

DIV.links {
	width:330px;
	float:left;
	font-size:16px;
	line-height:30px;
}

DIV#latestNews DIV A:first-child { font-size:12px;font-weight:bold; }

DIV#googleFinanceLogo {
	float:right;
	width:206px;
	height:49px;
	position:relative;
}

DIV#googleFinanceLogo SPAN {
	position:absolute;
	font-size:8px;
	top:2px;
	left:132px;
	z-index:1000;
}

DIV#googleFinanceLogo IMG {
	border:1px solid #cccccc;
	padding:7px 7px 0;
	background-color:white;
	position:absolute;
	top:0;
	left:0;
}

#latestTweets IMG {
	float:left;
	padding:0 4px 4px 0;
	height:48px;
	width:48px;
}

#latestNews DIV.item,
#latestBlogs P {
	clear:both;
	padding:10px;
	margin:10px;
	background-color:white;
	border:1px solid #CCCCCC;
}

#latestTweets P{
	height:48px;
	clear:both;
	padding:10px;
	background-color:white;
	border:1px solid #CCCCCC;
}

#latestBlogs SPAN,
#latestTweets SPAN {
	font-size:10px;
}

DIV#sidebar {
	width:210px;
	float:left;
	padding-left:15px;
}

DIV#comments {
	background-color:#eeeeee;
	border:1px solid #aaaaaa;
	padding:10px 15px;
	margin-left:1px;
}

#widgetWrapper {
	height:250px;
}

#tickerContainer {
	float:left;
	width:210px;
	height:138px;
	overflow:hidden;
	border-bottom:1px solid #666;
	margin:22px 0 0 10px;
}

#socialLinks {
	float:left;
	padding:15px 0 0 20px;
	width:190px;
}

#socialLinks DIV {
	float:left;
}

#socialLinks DIV:first-child {
	padding-right:10px;
}

#chartContainer {
	float:left;
	width:470px;
	height:250px;
}
