DIV.links {
	width:330px;
	float:left;
	font-size:16px;
	line-height:30px;
}

DIV#latestNews DIV A:first-child { font-size:12px;font-weight:bold; }

DIV#googleFinanceLogo {
	float:right;
	width:206px;
	height:49px;
	position:relative;
}

DIV#googleFinanceLogo SPAN {
	position:absolute;
	font-size:8px;
	top:2px;
	left:132px;
	z-index:1000;
}

DIV#googleFinanceLogo IMG {
	border:1px solid #cccccc;
	padding:7px 7px 0;
	background-color:white;
	position:absolute;
	top:0;
	left:0;
}

#latestTweets IMG {
	float:left;
	padding:0 4px 4px 0;
	height:48px;
	width:48px;
}

#latestNews DIV.item,
#latestBlogs P {
	clear:both;
	padding:10px;
	margin:10px;
	background-color:white;
	border:1px solid #CCCCCC;
}

#latestTweets P{
	height:48px;
	clear:both;
	padding:10px;
	background-color:white;
	border:1px solid #CCCCCC;
}

#latestBlogs SPAN,
#latestTweets SPAN {
	font-size:10px;
}

DIV#sidebar {
	width:210px;
	float:left;
	padding-left:15px;
}

DIV#comments {
	background-color:#eeeeee;
	border:1px solid #aaaaaa;
	padding:10px 15px;
	margin-left:1px;
}
