
<h2>Most Popular Industries</h2>

	<h3>All time views</h3>
  <table class="table table-striped">
  <% if !@allIndustryViews.nil? %>
  <% @allIndustryViews.each do |industry| %>
    <tr><td><%= link_to industry.security.company_industry.name, company_industry_path(industry) %></td><td><%= @allIndustryViews.count[industry.security_id] %> total views</td></tr>
  <% end %>
  <% end %>
  </table>
